/build
/js

/coverage
/.nyc_output
/node_modules

/nbproject/private/
/vendor
/vendor-bin/*/vendor
composer.phar
/.php-cs-fixer.cache

/tests/clover*.xml
/tests/.phpunit.result.cache

/playwright
/playwright-report
/test-results
