name: Test

on:
  pull_request:
  push:
    branches:
      - main
      - stable*

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['7.4', '8.0', '8.1']
        nextcloud-version: ['master']
    name: Nextcloud ${{ matrix.nextcloud-version }} php${{ matrix.php-version }} unit tests
    steps:
    - name: Set up php${{ matrix.php-version }}
      uses: shivammathur/setup-php@master
      with:
        php-version: ${{ matrix.php-version }}
        extensions: ctype,curl,dom,gd,iconv,intl,json,mbstring,openssl,posix,sqlite,xml,zip
        coverage: xdebug
    - name: Checkout Nextcloud
      run: git clone https://github.com/nextcloud/server.git --recursive --depth 1 -b ${{ matrix.nextcloud-version }} nextcloud
    - name: Install Nextcloud
      run: php -f nextcloud/occ maintenance:install --database-name oc_autotest --database-user oc_autotest --admin-user admin --admin-pass admin --database sqlite --database-pass=''
    - name: Checkout app
      uses: actions/checkout@master
      with:
        path: nextcloud/apps/twofactor_webauthn
    - name: Install dependencies
      working-directory: nextcloud/apps/twofactor_webauthn
      run: composer install
    - name: Run tests
      working-directory: nextcloud/apps/twofactor_webauthn
      run: composer run test:unit

  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: [ '8.1' ]
        nextcloud-version: [ 'master' ]
        db: [ 'sqlite' ]
        include:
          - php-version: '8.1'
            nextcloud-version: master
            db: 'oci'
          - php-version: '8.0'
            nextcloud-version: master
            db: 'pgsql'
          - php-version: '7.4'
            nextcloud-version: master
            db: 'mysql'
    name: php${{ matrix.php-version }}-${{ matrix.db }} integration tests
    services:
      mysql-service:
        image: mariadb:10.5
        env:
          MYSQL_ROOT_PASSWORD: my-secret-pw
          MYSQL_DATABASE: nextcloud
          MYSQL_USER: nextcloud
          MYSQL_PASSWORD: nextcloud
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
      postgres-service:
        image: postgres
        env:
          POSTGRES_USER: nextcloud
          POSTGRES_DB: nextcloud
          POSTGRES_PASSWORD: nextcloud
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      oracle:
        image: deepdiver/docker-oracle-xe-11g
        ports:
          - 1521:1521/tcp
    steps:
      - name: Set up php${{ matrix.php-version }}
        uses: shivammathur/setup-php@master
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ctype,curl,dom,gd,iconv,intl,json,mbstring,openssl,posix,sqlite,xml,zip,gmp,oci8
          coverage: xdebug
      - name: Checkout Nextcloud
        run: git clone https://github.com/nextcloud/server.git --recursive --depth 1 -b ${{ matrix.nextcloud-version }} nextcloud
      - name: Check out the app
        uses: actions/checkout@master
        with:
          path: nextcloud/apps/twofactor_webauthn
      - name: Install Nextcloud
        if: ${{ matrix.db != 'oci' }}
        run: php -f nextcloud/occ maintenance:install --database ${{ matrix.db }} --database-host 127.0.0.1 --database-name nextcloud --database-user nextcloud --database-pass nextcloud --admin-user admin --admin-pass admin
      - name: Install Nextcloud
        if: ${{ matrix.db == 'oci' }}
        run: php -f nextcloud/occ maintenance:install --database ${{ matrix.db }} --database-host=127.0.0.1 --database-name=XE --database-port=1521 --database-user=autotest --database-pass=owncloud --admin-user admin --admin-pass admin
      - name: Install dependencies
        working-directory: nextcloud/apps/twofactor_webauthn
        run: composer install
      - name: Install the app
        run: php -f nextcloud/occ app:enable twofactor_webauthn
      - name: Configure Nextcloud for testing
        run: |
          php -f nextcloud/occ config:system:set debug --type bool --value true
      - name: Run tests
        working-directory: nextcloud/apps/twofactor_webauthn
        run: composer run test:integration
        env:
          XDEBUG_MODE: coverage

  frontend-unit-test:
      runs-on: ubuntu-latest
      name: Front-end unit tests
      steps:
          - uses: actions/checkout@master
          - name: Set up Node
            uses: actions/setup-node@v1
            with:
                node-version: 14.x
          - name: npm install
            run: npm install
          - name: run tests
            run: npm run test
      env:
          CI: true
